<form action="/<%= action %>" method="GET">
    <div class="input-group">
      <input
        class="form-control"
        type="text"
        name="query"
        placeholder="Search"
        value="<%= query %>"
      />
      <button type="submit" class="btn-primary btn">Search</button>
    </div>
  </form>